@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Inconsolata:wght@200..900&display=swap');

body {
    font-family: "Inconsolata", monospace;
    scroll-behavior: smooth;
}

.landing-page {
    padding: 8px 35px;
    font-size: 16px;
    border: none;
    background-color: #309B35;
    cursor: pointer;
}

h1 {
    font-size: 45px;
    padding-top: 150px;
}

h2 {
    font-size: 18px;
}

input {
    font-size: 15px;
}

.column {
    padding-left: 5px;
    padding-right: 5px;
}

button {
    background-color: #737373;
    color: #FFFFFF;
    padding: 8px 35px;
    font-size: 22px;
    border-radius: 10px;
    margin: 3px auto;
    font-weight: bold;
}

.game-rules {
    font-size: 12px;
    padding: 3px 7px;
    margin: 1px auto;
}

.game-rules:hover {
    cursor: pointer;
}

.hints:enabled {
    background-color: #309B35;
    cursor: pointer;
}

.hints:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.submit:hover {
    background-color: #C72721;
    cursor: pointer;
}

.solution:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.solution:enabled {
    cursor: pointer;
}

.solution {
    background-color: #309B35;
}

.column {
    text-align: center;
}


.sign-up-button {
    background-color: #C72721;
    color: white;
}

.sign-up-button:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 6px #737373;
}

.login-button {
    background-color: #309B35;
    color: white;
}

.login-button:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 6px #737373;
}
