@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Inconsolata:wght@200..900&display=swap');

html {
    font-family: "Inconsolata", monospace;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 15%;
}

h1 {
    color: #C72721;
}

input {
    font-family: "Inconsolata", monospace;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    font-weight: bold;
}

.sign-up:hover {
    background-color: #309B35;
    cursor: pointer;
}

.show-pass-row {
    display: flex;
}

.show-pass-button {
    font-size: 12px;
    padding: 1px;
}

.show-pass-button:hover {
    background-color: #C72721;
}