@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Inconsolata:wght@200..900&display=swap');

body {
    font-family: "Inconsolata", monospace;
    scroll-behavior: smooth;
}

button {
    font-family: "Inconsolata", monospace;
}

.navbar a {
    float: right;
    text-align: center;
    padding: 14px 16px;
    margin-top: 15px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 19px;
    background-color: #484848;
    color: #FFFFFF;
    border-radius: 10px;
}

.navbar a:hover {
    box-shadow: 0 0 8px 6px #737373;
}

.navbar a.active {
    background-color: #C72721;
    color: #FFFFFF;
}

.split {
    float: left;
    padding: 10px;
    width: 5%;
}

.game-history {
    width: 100%;
}

table {
    width: 70%;
    margin: 10px auto;
    border-collapse: separate;
    border-spacing: 3px 0;
    text-align: center;
}

.game-history td, .game-history th {
    border-radius: 8px;
    padding: 4px;
    color: #737373;
}

.game-history th {
    text-align: center;
    background-color: #484848;
    color: #309B35;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}
